<app-body>
  <div class="row" id="name">
    <div class="col-md-12 my-2">
      <h1 class="text-center">
        Adam Callanan
      </h1>
    </div>
  </div>
  <div class="row" id="main-info">
    <div class="col-md-12 text-center d-md-none">
      <span>BS in Computer Science</span>
      <br/>
      <span>Des Moines, IA</span>
      <br/>
      <span>adamontheinternet.com@gmail.com</span>
    </div>
    <div class="col-md-12 d-none d-md-flex justify-content-around">
      <span>BS in Computer Science</span>
      <span>~~</span>
      <span>Des Moines, IA</span>
      <span>~~</span>
      <span>adamontheinternet.com@gmail.com</span>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row justify-content-center" id="links">
    <div class="col-md-3 my-3">
      <a
        class="btn btn-outline-primary btn-block"
        href="assets/resume.pdf"
        target="_blank"
      >
        <i class="fa fa-file">
          My Resume PDF
        </i>
      </a>
    </div>
    <div class="col-md-3 my-3">
      <a
        class="btn btn-outline-primary btn-block"
        href="https://github.com/adam-on-the-internet"
        target="_blank"
      >
        <i class="fa fa-github">
          My GitHub Profile
        </i>
      </a>
    </div>
    <div class="col-md-3 my-3">
      <a
        class="btn btn-outline-primary btn-block"
        href="https://adam-on-the-internet.github.io/developer-blog/"
        target="_blank"
      >
        <i class="fa fa-feed">
          My Developer Blog
        </i>
      </a>
    </div>
    <div class="col-md-3 my-3">
      <a
        class="btn btn-outline-primary btn-block"
        href="https://www.linkedin.com/in/adam-callanan-49114b119/"
        target="_blank"
      >
        <i class="fa fa-linkedin-square">
          My LinkedIn Profile
        </i>
      </a>
    </div>
  </div>
</app-body>
<app-body-alt>
  <div class="row">
    <div class="col-md-6 my-3">
      <h2 class="text-center text-white">
        Employment
      </h2>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          Software Engineer at Principal Financial Group
        </h4>
        <p class="text-center">August 2018 to Current</p>
        <hr/>
        <ul>
          <li>
            developing web apps with Angular and Java Spring
          </li>
          <li>
            enrolling clients in investment and retirement plans
          </li>
        </ul>
      </app-card>
      <br/>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          IT Intern at Reinsurance Group of America
        </h4>
        <p class="text-center">May 2017 to August 2017</p>
        <hr/>
        <ul>
          <li>
            wrote automated tests with Selenium
          </li>
          <li>
            created SharePoint websites
          </li>
          <li>
            designed custom workflows and forms
          </li>
        </ul>
      </app-card>
      <br/>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          QA IT Intern at Principal Financial Group
        </h4>
        <p class="text-center">May 2016 to August 2016</p>
        <hr/>
        <ul>
          <li>
            converted manual tests to automated tests with SoapUI
          </li>
          <li>
            designed a dashboard for automation tool usage reporting
          </li>
        </ul>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <h2 class="text-center text-white">
        Education
      </h2>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          BS of Computer Science at Truman State
        </h4>
        <p class="text-center">August 2014 to August 2018</p>
        <hr/>
        <ul>
          <li>
            minored in psychology and jazz studies
          </li>
          <li>
            hosted weekly radio shows at KTRM
          </li>
          <li>
            volunteered at the Aquadome, a local arts and community space
          </li>
          <li>
            maintained web pages and a database for a service organization
          </li>
        </ul>
      </app-card>
      <br/>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          Study Abroad at Maynooth University
        </h4>
        <p class="text-center">January 2018 to May 2018</p>
        <hr/>
        <ul>
          <li>
            studied UI/UX and digital audio
          </li>
          <li>
            learned basic development with the MEAN and LAMP stacks
          </li>
        </ul>
      </app-card>
    </div>
  </div>
</app-body-alt>
<app-body>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">
        Bio
      </h2>
      <p>
        I grew up just outside of St. Louis, Missouri. I moved to Kirksville,
        Missouri to study Computer Science at Truman State University. I
        graduated in August 2018 with a Bachelors of Science in Computer Science
        and minors in Psychology and Jazz Studies. I spent one semester abroad
        in Ireland studying Web Information Processing and User Interface
        Design.
      </p>
      <p>
        I currently work in Web Development full time for Principal Financial
        Group in Des Moines, Iowa. In my spare time I have been working on other
        web-related projects that are showcased on this site. Outside of work, I
        am starting to build websites for clients and myself to find a workflow
        that works for me. I primarily work in Angular with Bootstrap.
      </p>
      <p>
        Outside of school and work I spend time playing computer and tabletop
        games, reading, cooking, and making music. During college I volunteered
        at a nonprofit community and arts space called The Aquadome where I also
        started performing my own music. Community arts causes are still very
        important to me. Since college I have also been working on developing a
        board game called Spectre Squad with my friend Lindsey. A virtual board
        game companion / card deck for the game is in development on this
        website.
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">
        Beyond Employment
      </h2>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="https://adam-on-the-internet.github.io/app-hub/dashboard" target="_blank">
            <i class="fa fa-link"></i>
            create hobby web projects
          </a>
        </li>
        <li class="list-group-item">
          <a href="http://www.armor-equip.com/" target="_blank">
            <i class="fa fa-link"></i>
            designed and developed a custom website for a local business
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://www.fciowa.org/" target="_blank">
            <i class="fa fa-link"></i>
            built an prototype version of a healthcare information website in a charity hackathon DSM
            Hack
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://adam-on-the-internet.github.io/travel-blog/" target="_blank">
            <i class="fa fa-link"></i>
            wrote a travel blog when I studied abroad
          </a>
        </li>
      </ul>
    </div>
  </div>
</app-body>
