<app-body>
  <div class="row" id="name">
    <div class="col-md-12">
      <h1 class="text-center">
        Adam Callanan
      </h1>
    </div>
  </div>
  <div class="row" id="main-info">
    <div class="col-md-12 text-center d-md-none">
      <span>BS in Computer Science</span>
      <br />
      <span>Des Moines, IA</span>
      <br />
      <span>adamontheinternet.com@gmail.com</span>
    </div>
    <div class="col-md-12 d-none d-md-flex justify-content-around">
      <span>BS in Computer Science</span>
      <span>~~</span>
      <span>Des Moines, IA</span>
      <span>~~</span>
      <span>adamontheinternet.com@gmail.com</span>
    </div>
  </div>
  <div class="row" id="links">
    <div class="col-md-4 my-3">
      <button class="btn btn-outline-primary">
        <i class="fa fa-file">
          My Resume
        </i>
      </button>
    </div>
    <div class="col-md-4 my-3">
      <button class="btn btn-outline-primary">
        <i class="fa fa-github">
          My GitHub Profile
        </i>
      </button>
    </div>
    <div class="col-md-4 my-3">
      <button class="btn btn-outline-primary">
        <i class="fa fa-print">
          My LinkedIn Profile
        </i>
      </button>
    </div>
  </div>
</app-body>
<app-body-alt>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">
        Adam Callanan
      </h2>
    </div>
  </div>
</app-body-alt>
<app-body>
  <div class="row">
    <div class="col-md-12">
      <p>Coming soon...</p>
    </div>
  </div>
</app-body>
