<app-body>
  <div class="row" id="name">
    <div class="col-md-12">
      <h1 class="text-center">
        Adam Callanan
      </h1>
    </div>
  </div>
  <div class="row" id="main-info">
    <div class="col-md-12 text-center d-md-none">
      <span>BS in Computer Science</span>
      <br />
      <span>Des Moines, IA</span>
      <br />
      <span>adamontheinternet.com@gmail.com</span>
    </div>
    <div class="col-md-12 d-none d-md-flex justify-content-around">
      <span>BS in Computer Science</span>
      <span>~~</span>
      <span>Des Moines, IA</span>
      <span>~~</span>
      <span>adamontheinternet.com@gmail.com</span>
    </div>
  </div>
  <div class="row" id="links">
    <div class="col-md-4 my-3">
      <button class="btn btn-outline-primary">
        <i class="fa fa-file">
          My Resume
        </i>
      </button>
    </div>
    <div class="col-md-4 my-3">
      <button class="btn btn-outline-primary">
        <i class="fa fa-github">
          My GitHub Profile
        </i>
      </button>
    </div>
    <div class="col-md-4 my-3">
      <button class="btn btn-outline-primary">
        <i class="fa fa-print">
          My LinkedIn Profile
        </i>
      </button>
    </div>
  </div>
</app-body>
<app-body-alt>
  <div class="row">
    <div class="col-md-6 my-3">
      <h2 class="text-center text-white">
        Employment
      </h2>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          Software Engineer at Principal Financial Group
        </h4>
        <p class="text-center">August 2018 to Current</p>
        <hr />
        <ul>
          <li>
            developing web apps with Angular and Java Spring
          </li>
          <li>
            enrolling clients in investment and retirement plans
          </li>
        </ul>
      </app-card>
      <br />
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          IT Intern at Reinsurance Group of America
        </h4>
        <p class="text-center">May 2017 to August 2017</p>
        <hr />
        <ul>
          <li>
            wrote automated tests with Selenium
          </li>
          <li>
            created SharePoint websites
          </li>
          <li>
            designed custom workflows and forms
          </li>
        </ul>
      </app-card>
      <br />
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          QA IT Intern at Principal Financial Group
        </h4>
        <p class="text-center">May 2016 to August 2016</p>
        <hr />
        <ul>
          <li>
            converted manual tests to automated tests with SoapUI
          </li>
          <li>
            designed a dashboard for automation tool usage reporting
          </li>
        </ul>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <h2 class="text-center text-white">
        Education
      </h2>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          BS of Computer Science at Truman State
        </h4>
        <p class="text-center">August 2014 to August 2018</p>
        <hr />
        <ul>
          <li>
            minored in psychology and jazz studies 
          </li>
          <li>
            hosted weekly radio shows at KTRM 
          </li>
          <li>
            volunteered at the Aquadome, a local arts and community space
          </li>
          <li>
            maintained web pages and a database for a service organization 
          </li>
        </ul>
      </app-card>
      <br>
      <app-card [autoHeight]="false">
        <h4 class="text-center">
          Study Abroad at Maynooth University
        </h4>
        <p class="text-center">January 2018 to May 2018</p>
        <hr />
        <ul>
          <li>
            studied UI/UX and digital audio 
          </li>
          <li>
            learned basic development with the MEAN and LAMP stacks 
          </li>
        </ul>
      </app-card>
    </div>
  </div>
</app-body-alt>
<app-body>
  <div class="row">
    <div class="col-md-12">
      <p>Coming soon...</p>
    </div>
  </div>
</app-body>
