<app-header [title]="'Adam on the Internet'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-4 my-4 text-center">
      <i class="fa fa-folder-open fa-4x"></i>
      <h3>Projects</h3>
      <p>
        I have completed projects for courses, for myself, and for clients. Some
        of them are available on my site.
      </p>
      <button class="btn btn-secondary btn-block" (click)="goToProjects()">
        View My Projects
      </button>
    </div>
    <div class="col-md-4 my-4 text-center">
      <i class="fa fa-cubes fa-4x"></i>
      <h3>Resources</h3>
      <p>
        A brief overview of some of the technologies and resources I use for my
        projects. Useful to anyone looking to make similar applications!
      </p>
      <button class="btn btn-secondary btn-block" (click)="goToResources()">
        View Resources I Use
      </button>
    </div>
    <div class="col-md-4 my-4 text-center">
      <i class="fa fa-id-badge fa-4x"></i>
      <h3>About Me</h3>
      <p>
        Learn more about my background, view my resume, and find more about me
        beyond web development.
      </p>
      <button class="btn btn-secondary btn-block" (click)="goToAboutMe()">
        View More About Me
      </button>
    </div>
  </div>
</app-body>
<app-body-alt>
  <div class="row">
    <div class="col-md-6 my-3">
      <app-card [title]="'Contact Me'" [icon]="'fa-phone'">
        <p>
          Have questions about my work or want me to create something for you?
        </p>
        <a class="btn btn-secondary" href="mailto:a.callanan@sbcglobal.net">
          Contact Me
        </a>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'App Information'" [icon]="'fa-info-circle'">
        <p>
          Just curious about this web app? Get more information about this website.
        </p>
        <button class="btn btn-secondary" (click)="goToInfo()">
          More App Info
        </button>
      </app-card>
    </div>
  </div>
</app-body-alt>
