<app-header [title]="'Featured Projects'"></app-header>
<app-body>
  <div class="row">
    <p class="mt-3">
      These are my current featured projects. For a full listing of apps, go to
      my App Hub at
      <a href="https://aoti-app-hub.herokuapp.com" target="_blank">
        https://aoti-app-hub.herokuapp.com
      </a>
    </p>
    <div class="col-md-12 mb-3" *ngIf="ready; else loading">
      <div class="my-3" *ngFor="let app of featuredApps">
        <app-card>
          {{ app | json }}
        </app-card>
      </div>
    </div>
  </div>
</app-body>

<ng-template #loading>
  <div class="col-md-12">
    <app-loading></app-loading>
  </div>
</ng-template>
