<app-header [title]="'Featured Projects'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-12 mb-3" *ngIf="ready; else loading">
      <div class="my-3" *ngFor="let app of featuredApps">
        <app-card [title]="app.name" [icon]="app.icon">
          <p>{{ app.description }}</p>
          <a class="btn btn-primary" [href]="app.link" target="_blank">Go</a>
        </app-card>
      </div>
      <div class="my-3">
        <app-card [title]="'More Apps'" [icon]="'fa-folder-open'">
          <p>
            For a full listing of apps, go to my App Hub at:
          </p>
          <a class="btn btn-primary" href="https://adam-on-the-internet.github.io/app-hub/dashboard" target="_blank"
            >Go</a
          >
        </app-card>
      </div>
    </div>
  </div>
</app-body>

<ng-template #loading>
  <div class="col-md-12">
    <app-loading></app-loading>
  </div>
</ng-template>
